/* Robi light mode */
[data-theme='kyle'] {
  --background:               oklch(100% 0 0);
  --foreground:               oklch(42.36% 0.0016 106.5);
  --card:                     oklch(99.3% 0 275);
  --card-foreground:          oklch(42.36% 0.0016 106.5);
  --popover:                  oklch(99.3% 0 275);
  --popover-foreground:       oklch(42.36% 0.0016 106.5);
  --primary:                  oklch(33.25% 0.0017 106.5);
  --primary-foreground:       oklch(97.05% 0.0057 128.5);
  --secondary:                oklch(94.12% 0.0054 117.9);
  --secondary-foreground:     oklch(33.25% 0.0017 106.5);
  --muted:                    oklch(97.05% 0.0057 128.5);
  --muted-foreground:         oklch(54.83% 0.0015 106.5);
  --accent:                   oklch(94.12% 0.0054 117.9);
  --accent-foreground:        oklch(33.25% 0.0017 106.5);
  --destructive:              oklch(0.62 0.22 25);
  --destructive-foreground:   oklch(1 0 0);
  --border:                   oklch(83.66% 0.0047 134.9);
  --input:                    oklch(83.66% 0.0047 134.9);
  --ring:                     oklch(33.25% 0.0017 106.5);
  --chart-1:                  oklch(42.36% 0.0016 106.5);
  --chart-2:                  oklch(54.83% 0.0015 106.5);
  --chart-3:                  oklch(33.25% 0.0017 106.5);
  --chart-4:                  oklch(83.66% 0.0047 134.9);
  --chart-5:                  oklch(23.89% 0.0019 106.5);
  --sidebar:                  oklch(97.05% 0.0057 128.5);
  --sidebar-foreground:       oklch(42.36% 0.0016 106.5);
  --sidebar-primary:          oklch(33.25% 0.0017 106.5);
  --sidebar-primary-foreground: oklch(97.05% 0.0057 128.5);
  --sidebar-accent:           oklch(94.12% 0.0054 117.9);
  --sidebar-accent-foreground: oklch(42.36% 0.0016 106.5);
  --sidebar-border:           oklch(89.59% 0.0042 121.6);
  --sidebar-ring:             oklch(33.25% 0.0017 106.5);
  --radius:                   0.425rem;
  --font-sans:                var(--font-lexend), sans-serif;
  --font-serif:               ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:                ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --shadow-2xs:               0 1px 3px 0px oklch(0% 0 0 / 0.08);
  --shadow-xs:                0 1px 3px 0px oklch(0% 0 0 / 0.08);
  --shadow-sm:                0 1px 3px 0px oklch(0% 0 0 / 0.1), 0 1px 2px -1px oklch(0% 0 0 / 0.1);
  --shadow:                   0 1px 3px 0px oklch(0% 0 0 / 0.1), 0 1px 2px -1px oklch(0% 0 0 / 0.1);
  --shadow-md:                0 1px 3px 0px oklch(0% 0 0 / 0.1), 0 2px 4px -1px oklch(0% 0 0 / 0.1);
  --shadow-lg:                0 1px 3px 0px oklch(0% 0 0 / 0.1), 0 4px 6px -1px oklch(0% 0 0 / 0.1);
  --shadow-xl:                0 1px 3px 0px oklch(0% 0 0 / 0.1), 0 8px 10px -1px oklch(0% 0 0 / 0.1);
  --shadow-2xl:               0 1px 3px 0px oklch(0% 0 0 / 0.2);
  --tracking-normal:          -0.01em;
  --spacing:                  0.25rem;
}

/* Robi dark mode */
[data-theme='kyle'].dark {
  --background:               oklch(30.66% 0.0090 173.7);
  --foreground:               oklch(95.43% 0.0094 171.8);
  --card:                     oklch(39.33% 0.0116 171.2);
  --card-foreground:          oklch(95.43% 0.0094 171.8);
  --popover:                  oklch(39.33% 0.0116 171.2);
  --popover-foreground:       oklch(95.43% 0.0094 171.8);
  --primary:                  oklch(74.47% 0.0172 172.5);
  --primary-foreground:       oklch(22.72% 0.0049 173.9);
  --secondary:                oklch(39.33% 0.0116 171.2);
  --secondary-foreground:     oklch(95.43% 0.0094 171.8);
  --muted:                    oklch(39.33% 0.0116 171.2);
  --muted-foreground:         oklch(59.59% 0.0150 166.9);
  --accent:                   oklch(39.33% 0.0116 171.2);
  --accent-foreground:        oklch(95.43% 0.0094 171.8);
  --destructive:              oklch(0.62 0.22 25);
  --destructive-foreground:   oklch(1 0 0);
  --border:                   oklch(39.33% 0.0116 171.2);
  --input:                    oklch(19.20% 0.0051 173.8);
  --ring:                     oklch(74.47% 0.0172 172.5);
  --chart-1:                  oklch(74.47% 0.0172 172.5);
  --chart-2:                  oklch(59.59% 0.0150 166.9);
  --chart-3:                  oklch(85% 0.02 172.5);
  --chart-4:                  oklch(45% 0.013 171.2);
  --chart-5:                  oklch(95.43% 0.0094 171.8);
  --sidebar:                  oklch(19.20% 0.0051 173.8);
  --sidebar-foreground:       oklch(95.43% 0.0094 171.8);
  --sidebar-primary:          oklch(74.47% 0.0172 172.5);
  --sidebar-primary-foreground: oklch(22.72% 0.0049 173.9);
  --sidebar-accent:           oklch(30.66% 0.0090 173.7);
  --sidebar-accent-foreground: oklch(95.43% 0.0094 171.8);
  --sidebar-border:           oklch(30.66% 0.0090 173.7);
  --sidebar-ring:             oklch(74.47% 0.0172 172.5);
}
